.DS_Store
.floydexpt
.ipynb_checkpoints/

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip

*.swp

dlnd_image_classification.html
image-classification.zip

stop-floyd.sh
__pycache__/

dlnd_tv_script_generation.html
tv-script-generation.zip
